html {
    background-color: #f7fafd;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
    padding: 0;
}

section {
    min-height: 100vh;
}/*Revisar si lo quito*/